/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../home/harold/.rvm/gems/ruby-2.0.0-p643@ps260/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../home/harold/.rvm/gems/ruby-2.0.0-p643@ps260/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../home/harold/.rvm/gems/ruby-2.0.0-p643@ps260/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../home/harold/.rvm/gems/ruby-2.0.0-p643@ps260/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../home/harold/.rvm/gems/ruby-2.0.0-p643@ps260/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../home/harold/.rvm/gems/ruby-2.0.0-p643@ps260/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../home/harold/.rvm/gems/ruby-2.0.0-p643@ps260/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../home/harold/.rvm/gems/ruby-2.0.0-p643@ps260/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../home/harold/.rvm/gems/ruby-2.0.0-p643@ps260/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 26, ../sass/screen.sass */
.grayscale {
  filter: gray;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}

/* line 30, ../sass/screen.sass */
.center {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}
@media screen and (max-width: 830px) {
  /* line 30, ../sass/screen.sass */
  .center {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

/* line 38, ../sass/screen.sass */
.left-title {
  text-align: left;
}

/* line 40, ../sass/screen.sass */
.right-title {
  text-align: right;
}

/* line 42, ../sass/screen.sass */
.email {
  position: relative;
  padding-left: 25px;
}
/* line 45, ../sass/screen.sass */
.email:hover {
  text-decoration: underline;
}
/* line 47, ../sass/screen.sass */
.email::before {
  content: "";
  background-image: url("../assets/mail.png");
  background-repeat: no-repeat;
  background-position: 0 2px;
  background-size: 20px 15px;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
}

/* line 58, ../sass/screen.sass */
.social-link {
  height: 30px;
  width: 30px;
  text-indent: -9999px;
  white-space: nowrap;
  overflow: hidden;
  outline: none;
  display: inline-block;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: top left;
}

/* line 69, ../sass/screen.sass */
.twitter {
  background-image: url("../assets/twitter.png");
}

/* line 71, ../sass/screen.sass */
.instagram {
  background-image: url("../assets/instagram.png");
}

/* line 73, ../sass/screen.sass */
.facebook {
  background-image: url("../assets/facebook.png");
}

/* line 78, ../sass/screen.sass */
body {
  background-color: #000000;
  color: #cccccc;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 84, ../sass/screen.sass */
img {
  display: block;
}

/* line 87, ../sass/screen.sass */
a {
  text-decoration: none;
  color: #cccccc;
  outline: 0;
}

/* line 91, ../sass/screen.sass */
video {
  outline: 0;
}

/* line 94, ../sass/screen.sass */
#scroll-to-top {
  background-color: #cccccc;
  width: 30px;
  height: 45px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  display: none;
}
@media screen and (max-width: 680px) {
  /* line 94, ../sass/screen.sass */
  #scroll-to-top {
    display: block;
  }
}

/* line 105, ../sass/screen.sass */
header {
  border-bottom: 1px solid #775a16;
  margin-bottom: 20px;
  position: relative;
}
/* line 109, ../sass/screen.sass */
header .mobile-logo {
  margin-bottom: 50px;
  padding-top: 50px;
  display: none;
}
@media screen and (max-width: 680px) {
  /* line 109, ../sass/screen.sass */
  header .mobile-logo {
    display: block;
  }
}
/* line 115, ../sass/screen.sass */
header .mobile-logo img {
  max-width: 100%;
}
/* line 117, ../sass/screen.sass */
header #menu-button {
  z-index: 999;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #cccccc;
  width: 31px;
  height: 31px;
  display: none;
}
@media screen and (max-width: 680px) {
  /* line 117, ../sass/screen.sass */
  header #menu-button {
    display: block;
  }
}
/* line 128, ../sass/screen.sass */
header #mobile-nav-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  background-color: #775a16;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
  padding-top: 100px;
  width: 150px;
}
/* line 140, ../sass/screen.sass */
header #mobile-nav-wrapper .menu li {
  font-size: 25px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #cccccc;
}
/* line 145, ../sass/screen.sass */
header #mobile-nav-wrapper .menu li:last-child {
  border-bottom: none;
}
/* line 147, ../sass/screen.sass */
header #mobile-nav-wrapper .social-wrapper {
  position: absolute;
  bottom: 10px;
}
/* line 151, ../sass/screen.sass */
header .logo {
  margin-top: 25px;
  margin-bottom: 15px;
}
@media screen and (max-width: 680px) {
  /* line 151, ../sass/screen.sass */
  header .logo {
    display: none;
  }
}
/* line 156, ../sass/screen.sass */
header .logo img {
  max-width: 100%;
}
/* line 159, ../sass/screen.sass */
header .nav-wrapper {
  text-align: center;
}
@media screen and (max-width: 680px) {
  /* line 159, ../sass/screen.sass */
  header .nav-wrapper {
    display: none;
  }
}
/* line 163, ../sass/screen.sass */
header .nav-wrapper a {
  font-style: italic;
  display: inline-block;
  padding: 8px 30px 8px 30px;
}
/* line 167, ../sass/screen.sass */
header .nav-wrapper a:link, header .nav-wrapper a:visited, header .nav-wrapper a:active {
  color: #ffffff;
}
/* line 169, ../sass/screen.sass */
header .nav-wrapper a:hover {
  color: #ffffff;
  background-color: #775a16;
}

/* line 173, ../sass/screen.sass */
section {
  margin-top: 70px;
}
/* line 175, ../sass/screen.sass */
section .section-title {
  color: #ffc300;
  border-bottom: 2px solid #ffc300;
  margin-bottom: 50px;
  font-size: 30px;
  text-transform: uppercase;
  font-style: italic;
}
@media screen and (max-width: 680px) {
  /* line 175, ../sass/screen.sass */
  section .section-title {
    margin-bottom: 30px;
  }
}
/* line 184, ../sass/screen.sass */
section .thumbnail-wrapper {
  width: 100%;
  zoom: 1;
}
/* line 187, ../sass/screen.sass */
section .thumbnail-wrapper:before, section .thumbnail-wrapper:after {
  content: "";
  display: table;
}
/* line 190, ../sass/screen.sass */
section .thumbnail-wrapper:after {
  clear: both;
}
/* line 193, ../sass/screen.sass */
section .thumbnail {
  position: relative;
  width: 32%;
  margin-right: 2%;
  margin-bottom: 2%;
  max-height: 144px;
  cursor: pointer;
  cursor: hand;
  float: left;
  -webkit-transition: all 300ms;
}
@media screen and (max-width: 680px) {
  /* line 193, ../sass/screen.sass */
  section .thumbnail {
    width: 49%;
  }
}
@media screen and (min-width: 680px) {
  /* line 205, ../sass/screen.sass */
  section .thumbnail:nth-child(3n) {
    margin-right: 0;
  }
}
@media screen and (max-width: 680px) {
  /* line 208, ../sass/screen.sass */
  section .thumbnail:nth-child(2n) {
    margin-right: 0;
  }
}
/* line 211, ../sass/screen.sass */
section .thumbnail img {
  max-width: 100%;
  max-height: 144px;
  margin: 0 auto;
}
/* line 215, ../sass/screen.sass */
section .thumbnail .thumbnail-description {
  text-shadow: black 0px 0px 2px;
  color: #ffffff;
  position: absolute;
  text-transform: uppercase;
  font-size: 24px;
  top: 50%;
  width: 100%;
  transform: translate(0, -50%);
}
/* line 224, ../sass/screen.sass */
section .thumbnail .thumbnail-description p {
  text-align: center;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
}

/* line 230, ../sass/screen.sass */
#videos {
  display: none;
}
/* line 232, ../sass/screen.sass */
#videos .video-title {
  font-style: italic;
  font-size: 20px;
  margin-top: 15px;
}
/* line 236, ../sass/screen.sass */
#videos .editor-name {
  text-transform: uppercase;
  font-style: italic;
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}
/* line 242, ../sass/screen.sass */
#videos .thumbnail-description {
  font-size: 14px !important;
}

/* line 245, ../sass/screen.sass */
#about .about-content {
  line-height: 2em;
  text-align: left;
}
/* line 248, ../sass/screen.sass */
#about .about-image {
  max-width: 50%;
  float: right;
  padding-left: 50px;
  padding-bottom: 20px;
}
@media screen and (max-width: 680px) {
  /* line 248, ../sass/screen.sass */
  #about .about-image {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    float: none;
    padding-left: 0;
  }
}

/* line 260, ../sass/screen.sass */
#contact {
  font-size: 14px;
  zoom: 1;
}
/* line 263, ../sass/screen.sass */
#contact:before, #contact:after {
  content: "";
  display: table;
}
/* line 266, ../sass/screen.sass */
#contact:after {
  clear: both;
}
/* line 268, ../sass/screen.sass */
#contact .contact-content {
  line-height: 2em;
  width: 20%;
  float: left;
}
@media screen and (max-width: 680px) {
  /* line 268, ../sass/screen.sass */
  #contact .contact-content {
    float: none;
    width: 100%;
  }
}
/* line 275, ../sass/screen.sass */
#contact .contact-content .contact-name {
  font-weight: bold;
}
/* line 277, ../sass/screen.sass */
#contact .contact-map-wrapper {
  width: 80%;
  float: right;
}
@media screen and (max-width: 680px) {
  /* line 277, ../sass/screen.sass */
  #contact .contact-map-wrapper {
    float: none;
    width: 100%;
  }
}
/* line 283, ../sass/screen.sass */
#contact .contact-map {
  position: relative;
  display: inline-block;
  max-width: 45%;
  margin-left: 2%;
}
@media screen and (max-width: 680px) {
  /* line 283, ../sass/screen.sass */
  #contact .contact-map {
    max-width: 100%;
    margin-left: 0;
    margin-top: 15px;
    width: 100%;
  }
}
/* line 293, ../sass/screen.sass */
#contact .contact-map img {
  max-width: 100%;
}
@media screen and (max-width: 680px) {
  /* line 293, ../sass/screen.sass */
  #contact .contact-map img {
    max-width: auto;
    min-width: auto;
  }
}
/* line 298, ../sass/screen.sass */
#contact .contact-map .address-wrapper {
  position: absolute;
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 17px;
  width: 90%;
  top: 14%;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}
@media screen and (max-width: 680px) {
  /* line 298, ../sass/screen.sass */
  #contact .contact-map .address-wrapper {
    width: 100%;
  }
}
/* line 309, ../sass/screen.sass */
#contact .contact-map .address-wrapper .city {
  color: #ffc300;
  font-size: 20px;
  margin-bottom: 5px;
}
/* line 313, ../sass/screen.sass */
#contact .contact-map .address-wrapper .number {
  margin-bottom: 5px;
}
/* line 315, ../sass/screen.sass */
#contact .contact-map .address-wrapper .address {
  text-transform: uppercase;
}

/* line 318, ../sass/screen.sass */
#footer {
  margin-top: 35px;
  border-top: 2px solid white;
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
}
@media screen and (max-width: 680px) {
  /* line 318, ../sass/screen.sass */
  #footer {
    display: none;
  }
}
/* line 326, ../sass/screen.sass */
#footer img {
  margin: 0 auto;
}
/* line 328, ../sass/screen.sass */
#footer .social-wrapper {
  position: absolute;
  right: 0;
  text-align: right;
  top: 30px;
}
