/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../home/harold/.rvm/gems/ruby-2.0.0-p643@ps260/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../home/harold/.rvm/gems/ruby-2.0.0-p643@ps260/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../home/harold/.rvm/gems/ruby-2.0.0-p643@ps260/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../home/harold/.rvm/gems/ruby-2.0.0-p643@ps260/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../home/harold/.rvm/gems/ruby-2.0.0-p643@ps260/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../home/harold/.rvm/gems/ruby-2.0.0-p643@ps260/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../home/harold/.rvm/gems/ruby-2.0.0-p643@ps260/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../home/harold/.rvm/gems/ruby-2.0.0-p643@ps260/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../home/harold/.rvm/gems/ruby-2.0.0-p643@ps260/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "BradonGrotesque";
  src: url("../assets/fonts/Brandon Grotesque-Medium.eot");
  src: url("../assets/fonts/Brandon Grotesque-Medium?#iefix") format("embedded-opentype");
  src: url("../assets/fonts/Brandon Grotesque-Medium.woff") format("woff");
  src: url("../assets/fonts/Brandon Grotesque-Medium.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "BradonGrotesqueBold";
  src: url("../assets/fonts/Brandon Grotesque-Bold.eot");
  src: url("../assets/fonts/Brandon Grotesque-Bold?#iefix") format("embedded-opentype");
  src: url("../assets/fonts/Brandon Grotesque-Bold.woff") format("woff");
  src: url("../assets/fonts/Brandon Grotesque-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "BradonGrotesqueLight";
  src: url("../assets/fonts/Brandon Grotesque-Lighteot");
  src: url("../assets/fonts/Brandon Grotesque-Light?#iefix") format("embedded-opentype");
  src: url("../assets/fonts/Brandon Grotesque-Light.woff") format("woff");
  src: url("../assets/fonts/Brandon Grotesque-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 53, ../sass/screen.sass */
.grayscale {
  filter: gray;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}

/* line 57, ../sass/screen.sass */
.center {
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
}
@media screen and (max-width: 1054px) {
  /* line 57, ../sass/screen.sass */
  .center {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

/* line 65, ../sass/screen.sass */
.left-title {
  text-align: left;
}

/* line 67, ../sass/screen.sass */
.right-title {
  text-align: right;
}

/* line 69, ../sass/screen.sass */
.email {
  position: relative;
  padding-left: 25px;
}
/* line 72, ../sass/screen.sass */
.email:hover {
  text-decoration: underline;
}
/* line 74, ../sass/screen.sass */
.email::before {
  content: "";
  background-image: url("../assets/mail.png");
  background-repeat: no-repeat;
  background-position: 0 2px;
  background-size: 20px 15px;
  position: absolute;
  left: 0;
  top: 2px;
  width: 20px;
  height: 20px;
}

/* line 85, ../sass/screen.sass */
.social-link {
  -moz-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  height: 25px;
  width: 25px;
  text-indent: -9999px;
  white-space: nowrap;
  overflow: hidden;
  outline: none;
  display: inline-block;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: top left;
  opacity: 0.8;
}
/* line 98, ../sass/screen.sass */
.social-link:hover {
  opacity: 1;
}

/* line 100, ../sass/screen.sass */
.twitter {
  background-image: url("../assets/twitter.png");
}

/* line 102, ../sass/screen.sass */
.instagram {
  background-image: url("../assets/instagram.png");
}

/* line 104, ../sass/screen.sass */
.facebook {
  background-image: url("../assets/facebook.png");
}

/* line 108, ../sass/screen.sass */
#splash {
  z-index: 9999;
  -webkit-backface-visibility: hidden;
}

/* line 111, ../sass/screen.sass */
.splash-background {
  -webkit-backface-visibility: hidden;
  position: fixed;
  background-color: #000000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 119, ../sass/screen.sass */
.splash-logo {
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* line 127, ../sass/screen.sass */
body {
  font-family: "BradonGrotesque", sans-serif;
  background-color: #000000;
  color: #cccccc;
  font-size: 12px;
  margin-left: 2%;
  margin-right: 2%;
}

/* line 135, ../sass/screen.sass */
img {
  display: block;
}

/* line 138, ../sass/screen.sass */
a {
  text-decoration: none;
  color: #cccccc;
  outline: 0;
}

/* line 142, ../sass/screen.sass */
video, button {
  outline: 0;
}

/* line 145, ../sass/screen.sass */
#scroll-to-top {
  background-image: url("../assets/arrow5.png");
  background-color: rgba(255, 255, 255, 0.3);
  background-size: 31px 31px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 3px;
  width: 31px;
  height: 31px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  display: none;
}

/* line 159, ../sass/screen.sass */
header {
  border-bottom: 1px solid #775a16;
  margin-bottom: 20px;
  position: relative;
}
/* line 163, ../sass/screen.sass */
header .mobile-logo {
  margin-bottom: 50px;
  padding-top: 50px;
  display: none;
}
@media screen and (max-width: 680px) {
  /* line 163, ../sass/screen.sass */
  header .mobile-logo {
    display: block;
  }
}
/* line 169, ../sass/screen.sass */
header .mobile-logo img {
  max-width: 150px;
}
/* line 171, ../sass/screen.sass */
header #menu-button {
  z-index: 999;
  position: absolute;
  top: 10px;
  right: 10px;
  background-image: url("../assets/plus.png");
  background-size: 31px 31px;
  background-repeat: no-repeat;
  width: 31px;
  height: 31px;
  display: none;
}
@media screen and (max-width: 680px) {
  /* line 171, ../sass/screen.sass */
  header #menu-button {
    display: block;
  }
}
/* line 184, ../sass/screen.sass */
header #mobile-nav-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  background-color: #775a16;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
  padding-top: 100px;
  width: 150px;
}
/* line 196, ../sass/screen.sass */
header #mobile-nav-wrapper .menu li {
  font-family: "kepler-std-display", serif;
  letter-spacing: 0.025em;
  font-size: 25px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-style: italic;
  font-weight: bold;
  border-bottom: 1px solid #cccccc;
}
/* line 205, ../sass/screen.sass */
header #mobile-nav-wrapper .menu li:last-child {
  border-bottom: none;
}
/* line 207, ../sass/screen.sass */
header #mobile-nav-wrapper .social-wrapper {
  position: absolute;
  bottom: 10px;
}
/* line 211, ../sass/screen.sass */
header .logo {
  margin-top: 25px;
  margin-bottom: 15px;
}
@media screen and (max-width: 680px) {
  /* line 211, ../sass/screen.sass */
  header .logo {
    display: none;
  }
}
/* line 216, ../sass/screen.sass */
header .logo img {
  max-width: 100%;
}
/* line 219, ../sass/screen.sass */
header .nav-wrapper {
  text-align: center;
  font-size: 15px;
}
@media screen and (max-width: 680px) {
  /* line 219, ../sass/screen.sass */
  header .nav-wrapper {
    display: none;
  }
}
/* line 224, ../sass/screen.sass */
header .nav-wrapper a {
  font-family: "kepler-std-display", serif;
  letter-spacing: 0.025em;
  font-style: italic;
  font-weight: bold;
  display: inline-block;
  padding: 8px 40px 8px 40px;
}
/* line 231, ../sass/screen.sass */
header .nav-wrapper a:link, header .nav-wrapper a:visited, header .nav-wrapper a:active {
  color: #ffffff;
}
/* line 233, ../sass/screen.sass */
header .nav-wrapper a:hover {
  color: #ffffff;
  background-color: #775a16;
}

/* line 237, ../sass/screen.sass */
section {
  margin-top: 70px;
}
/* line 239, ../sass/screen.sass */
section .section-title {
  font-family: "kepler-std-display", serif;
  color: #ffc300;
  border-bottom: 1px solid #ffc300;
  margin-bottom: 50px;
  padding-bottom: 5px;
  font-size: 25px;
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}
@media screen and (max-width: 680px) {
  /* line 239, ../sass/screen.sass */
  section .section-title {
    margin-bottom: 30px;
  }
}
/* line 251, ../sass/screen.sass */
section .thumbnail-wrapper {
  width: 100%;
  zoom: 1;
}
/* line 254, ../sass/screen.sass */
section .thumbnail-wrapper::before, section .thumbnail-wrapper::after {
  content: "";
  display: table;
}
/* line 257, ../sass/screen.sass */
section .thumbnail-wrapper::after {
  clear: both;
}
/* line 260, ../sass/screen.sass */
section .thumbnail {
  -moz-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  -webkit-backface-visibility: hidden;
  position: relative;
  width: 32%;
  margin-right: 2%;
  margin-bottom: 2%;
  cursor: pointer;
  cursor: hand;
  max-height: 184px;
  float: left;
}
@media screen and (max-width: 680px) {
  /* line 260, ../sass/screen.sass */
  section .thumbnail {
    width: 49%;
  }
}
@media screen and (min-width: 680px) {
  /* line 273, ../sass/screen.sass */
  section .thumbnail:nth-child(3n) {
    margin-right: 0;
  }
}
@media screen and (max-width: 680px) {
  /* line 276, ../sass/screen.sass */
  section .thumbnail:nth-child(2n) {
    margin-right: 0;
  }
}
/* line 279, ../sass/screen.sass */
section .thumbnail img {
  max-width: 100%;
  margin: 0 auto;
}
/* line 282, ../sass/screen.sass */
section .thumbnail .thumbnail-description {
  -webkit-backface-visibility: hidden;
  color: #ffffff;
  position: absolute;
  text-transform: uppercase;
  font-size: 24px;
  top: 50%;
  width: 100%;
  transform: translate(0, -50%);
}
/* line 291, ../sass/screen.sass */
section .thumbnail .thumbnail-description p {
  text-align: center;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
}

/* line 297, ../sass/screen.sass */
#videos {
  display: none;
}
/* line 299, ../sass/screen.sass */
#videos .editor-name {
  font-family: "kepler-std-display", serif;
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
  font-size: 22px;
  margin-top: 15px;
  margin-bottom: 5px;
  color: #7F7F7F;
}
/* line 308, ../sass/screen.sass */
#videos .video-title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 30px;
  color: #ffffff;
}
/* line 314, ../sass/screen.sass */
#videos .thumbnail::after {
  -moz-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  -webkit-backface-visibility: hidden;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
}
/* line 324, ../sass/screen.sass */
#videos .thumbnail .thumbnail-description {
  top: 50%;
  z-index: 99;
}
/* line 327, ../sass/screen.sass */
#videos .thumbnail .thumbnail-description .brand {
  font-family: "BradonGrotesqueBold", sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding-bottom: 3px;
}
/* line 332, ../sass/screen.sass */
#videos .thumbnail .thumbnail-description .title {
  font-family: "BradonGrotesqueLight", sans-serif;
  font-weight: lighter;
  font-size: 14px;
  padding-bottom: 3px;
}
/* line 337, ../sass/screen.sass */
#videos .thumbnail .thumbnail-description .director {
  font-family: "BradonGrotesque", sans-serif;
  font-size: 13px;
}

/* line 343, ../sass/screen.sass */
#editors .thumbnail .name {
  font-family: "BradonGrotesqueBold", sans-serif;
  font-size: 18px;
}

/* line 348, ../sass/screen.sass */
#about .about-content {
  line-height: 1.5em;
  text-align: left;
  font-size: 14px;
  zoom: 1;
}
/* line 353, ../sass/screen.sass */
#about .about-content::before, #about .about-content::after {
  content: "";
  display: table;
}
/* line 356, ../sass/screen.sass */
#about .about-content::after {
  clear: both;
}
/* line 358, ../sass/screen.sass */
#about .about-image {
  max-width: 50%;
  float: right;
  padding-left: 50px;
  padding-bottom: 20px;
}
@media screen and (max-width: 680px) {
  /* line 358, ../sass/screen.sass */
  #about .about-image {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    float: none;
    padding-left: 0;
  }
}

/* line 370, ../sass/screen.sass */
#contact {
  font-size: 14px;
  zoom: 1;
}
/* line 373, ../sass/screen.sass */
#contact::before, #contact::after {
  content: "";
  display: table;
}
/* line 376, ../sass/screen.sass */
#contact::after {
  clear: both;
}
/* line 378, ../sass/screen.sass */
#contact .section-title {
  margin-bottom: 30px;
}
/* line 380, ../sass/screen.sass */
#contact .contact-content {
  line-height: 1.7em;
  font-size: 12px;
  width: 20%;
  float: left;
}
@media screen and (max-width: 680px) {
  /* line 380, ../sass/screen.sass */
  #contact .contact-content {
    float: none;
    font-size: 14px;
    width: 100%;
  }
}
/* line 389, ../sass/screen.sass */
#contact .contact-content a, #contact .contact-content p {
  display: block;
}
/* line 391, ../sass/screen.sass */
#contact .contact-content .contact-name {
  font-weight: bold;
}
/* line 393, ../sass/screen.sass */
#contact .contact-map-wrapper {
  width: 80%;
  float: right;
  text-align: right;
}
@media screen and (max-width: 680px) {
  /* line 393, ../sass/screen.sass */
  #contact .contact-map-wrapper {
    float: none;
    width: 100%;
  }
}
/* line 400, ../sass/screen.sass */
#contact .contact-map {
  position: relative;
  display: inline-block;
  max-width: 45%;
  margin-left: 2%;
}
@media screen and (max-width: 680px) {
  /* line 400, ../sass/screen.sass */
  #contact .contact-map {
    max-width: 100%;
    margin-left: 0;
    margin-top: 15px;
    width: 100%;
  }
}
/* line 410, ../sass/screen.sass */
#contact .contact-map img {
  max-width: 100%;
}
@media screen and (max-width: 680px) {
  /* line 410, ../sass/screen.sass */
  #contact .contact-map img {
    max-width: auto;
    min-width: auto;
  }
}
/* line 415, ../sass/screen.sass */
#contact .contact-map .address-wrapper {
  position: absolute;
  padding-top: 15px;
  padding-bottom: 17px;
  width: 101%;
  top: 50%;
  transform: translate(0, -50%);
  text-align: left;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}
/* line 425, ../sass/screen.sass */
#contact .contact-map .address-wrapper::after {
  content: "";
  height: 100%;
  width: 10px;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 0;
  left: 10px;
}
/* line 433, ../sass/screen.sass */
#contact .contact-map .address-wrapper p {
  padding-left: 30px;
}
/* line 435, ../sass/screen.sass */
#contact .contact-map .address-wrapper .city {
  font-family: "kepler-std-display", serif;
  letter-spacing: 0.025em;
  color: #ffc300;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}
/* line 442, ../sass/screen.sass */
#contact .contact-map .address-wrapper .number {
  font-size: 12px;
  margin-bottom: 5px;
}
/* line 445, ../sass/screen.sass */
#contact .contact-map .address-wrapper .address {
  font-size: 12px;
  text-transform: uppercase;
}

/* line 449, ../sass/screen.sass */
#footer {
  margin-top: 35px;
  border-top: 1px solid white;
  padding-top: 54px;
  padding-bottom: 60px;
  position: relative;
}
@media screen and (max-width: 680px) {
  /* line 449, ../sass/screen.sass */
  #footer {
    display: none;
  }
}
/* line 457, ../sass/screen.sass */
#footer img {
  max-height: 88px;
  margin: 0 auto;
}
/* line 460, ../sass/screen.sass */
#footer .social-wrapper {
  position: absolute;
  right: 0;
  text-align: right;
  top: 30px;
}
